// Define variables for your color scheme

// For example:
/* Coolors Exported Palette - coolors.co/0f0f0f-716969-d1d1d1-f1f2ef-e21d16 */

/* RGB */
$black: #0f0f0f;
$red: #e21d16;
$lightgrey: #f1f2ef;
$mediumgrey: #d1d1d1;
$darkgrey: #716969;

// $red: #FD1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
