// Define variables for your color scheme

// For example:
/* Coolors Exported Palette - coolors.co/0f0f0f-716969-d1d1d1-f1f2ef-e21d16 */

/* RGB */
$black: #0F0F0F;
$red: #E21D16;
$lightgrey: #F1F2EF;
$mediumgrey: #D1D1D1;
$darkgrey: #716969;

$red: #FD1015;
$blue: #167FFB;
$mblue: #02081f;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
