<div class="container" id="arrival-confirmed">

   <div class="row ct-section_header ct-section_header--type2"></div>
   <div class="row trip-details">
      <div class="venue-details col-9">
        <div class="container">
          <div class="progress-bar">

            <div class="loaded-arrival-confirmed"></div>
          </div>
        </div></br>
        <div>
          <h4> You Have Arrived at <%=@venue.name%></h4></br>
           <h4> Get Drunk, Do Things you'll Regret, and have a great night</h4></br>
           <button type="button" class="btn share-button" data-toggle="modal" data-target="#rating-modal">
               Rate this venue
            </button>
            <button type="button" class="btn share-button" data-toggle="modal" data-target="#booking-show-link-modal">
               Share venue with friends
            </button>
        </div>
      </br>
      </div>
   </div>
</div>
