<div class="modal fade" id="booking-show-link-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content" >

        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="color:black;">Copy link and share with friends</h5>
        </div>

        <div class="modal-body" style="color:black;">

          <input type="text" value="https://www.night-roulette.com/<%=@booking.token%>" id="myInput">
        </div>
        <div class="modal-footer" style="color:black;">
          <button class="btn btn-primary" id="share-btn">Copy text</button>
        </div>
      </div>
   </div>
</div>
