<div class="modal fade" id="booking-show-link-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="container col-9">

        <div class="modal-content" >

          <div class="modal-header" style="justify-content: center;">
              <h5 class="modal-title" id="exampleModalLabel" style="color:black;">Share with friends</h5>
          </div>

          <div class="modal-body col-12" style="color:black;">

            <div class="social-media" >
              <i class="fab fa-instagram"></i>
              <i class="fab fa-facebook-square"></i>
              <i class="fab fa-whatsapp-square"></i>
            </div>
            <!-- <input type="text" value="https://www.night-roulette.com/<%=@booking.token%>" id="myInput"> -->
          </div>
          <div class="modal-footer" style="color:black;">
            <button class="btn btn-dark col-12" id="share-btn" >Share</button>
          </div>
        </div>

     </div>
   </div>
</div>


