<div class="container" id="driver-confirmed">
   <div class="row ct-section_header ct-section_header--type2"></div>
   <div class="row trip-details">
      <!-- <div class="venue-details col-9" style="background: url(<%#= image_url('bar1.jpg') %>;"> -->
      <div class="venue-details col-9">
        <div class="container">
          <div class="progress-bar">
            <div class="loaded-driver-confirmed"></div>
          </div>
        </div>
        <div>
          <p>Your driver's ETA is: <%= @booking.eta %></p>
          <h2> Your driver is on the way 🙌  </h2>
          <p> Your driver is Placeholder Name <%= @booking.driver_name %> </p>
          <p> Placeholder License <%= @booking.license_plate %></p>
        </div>
      </br>
        <div class="container">
          <img src="https://di-uploads-pod4.dealerinspire.com/olympiajeep/uploads/2018/03/Driving-Car.gif" width="219" style="margin: 0 30px 0 0">
        </div>

      </div>


     <!-- <button type="button" class="btn share-button" data-toggle="modal" data-target="#rating-modal">
         Rate this venue
      </button>
      <button type="button" class="btn share-button" data-toggle="modal" data-target="#booking-show-link-modal">
         Share venue with friends
      </button> -->

      <%# <div class="btn share-button">Share with your friends</div> %>
   </div>
</div>
