<div class="container">
   <div class="row ct-section_header ct-section_header--type2"></div>
   <div class="row trip-details">
      <div class="venue-details col-9" style="background: url(bar1.jpg);">
        <div>
          <h1> Congrats! </h1>
          <p> Your driver is on the way his name is INSERT NAME HERE. Get ready to see the <%= @venue.venue_type %> of your dreams!</p>
          <p>Your estimated arrival is: ESTIMATED ARRIVAL</p>
          <p>License Plate number is: BLAHBLAH</p>
        </div>
        <div>
         <div class=" star-rating">
            <% 5.times do |count|%>
               <% if @venue.rating > (count + 0.6)%>
                  <i class="fas fa-star"></i>
               <% else %>
                  <i class="fas fa-star" style="opacity:.3;"></i>
               <% end %>
            <% end %>
         </div>
         <div class="pricing-details">
            <% 5.times do |count|%>
               <% if @venue.price > (count + 1)%>
                  <i class="fas fa-dollar-sign"></i>
               <% else %>
                  <i class="fas fa-dollar-sign" style="opacity:.3;"></i>
               <% end %>
            <% end %>
         </div>
         <p class="hours">Open until <%= @venue.hours %></p>
        </div>
      </div>

      <button type="button" class="btn share-button" data-toggle="modal" data-target="#rating-modal">
         Rate this venue
      </button>
      <%# <div class="btn share-button">Share with your friends</div> %>
   </div>

</div>
