<div class="container" id="order-confirmed">
  <h1 style="margin: 20px auto 0 auto; text-align: center"> Ordering Taxi 🚘 </h1>
   <div class="row ct-section_header ct-section_header--type2"></div>
   <div class="row trip-details">
      <!-- <div class="venue-details col-9" style="background: url(<%#= image_url('bar1.jpg') %>;"> -->
      <div class="venue-details col-9">
        <div class="container">
          <div class="progress-bar">
            <div class="loaded-order-confirmed"></div>
          </div>
        </div>
        <div style="margin:10px auto 0 auto;">

          <p> We have selected a great <%= @venue.venue_type.capitalize %> and are now ordering you a taxi. It might take a few minutes so please hold tight! 🙊 </p> </br>

        </div>
        <div>
         <div class="star-rating" style="margin-top: 20px;">
          <%= render 'stars' %>
         </div>
         <div class="d-flex justify-content-between">
          <%= render 'pricing' %>
          <p style="margin-top: 10px;">Open until <%= @venue.hours %></p>
         </div>
        </div>
      </div>

      <%# <div class="btn share-button">Share with your friends</div> %>
   </div>

</div>
