<div class="container container-pending" id="pending">
   <div class="row trip-details row-pending">
      <div class="venue-details col-9 map-pending">
        
         <div>
            <%= render 'map' %>
         </div>

         <div style="margin:60px auto 0 auto;">
            <p> Luck is picking a place for you! </p> </br>
        </div>
      </div>
   </div>
         <div id="spin-it" onload="mapRoulette()" style=""></div>
</div>
