<div class="container">
    <h1>Past Results:</h1>

    <div class="container">
        <div class="cards">
    <% @bookings.sample(12).each do |booking| %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1556035511-3168381ea4d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);">
            <div class="pic_text" style="text-align:center"><%= booking.id %></div>
            <div class="pic_text_2" style="text-align:center"> <%= booking.id %></div>        </div>
            <% end %>
        </div>
    </div>
</div>
