<head>
  <script src="https://code.jquery.com/jquery-1.9.1.min.js">
  </script>
</head>
<div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1559896276-8189f895c02e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  </div>

  <div class="booking-new">
    <div class="row" style="text-align: center;">
      <div class="header-text col-11" style="margin: 25px auto;">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
              <div class="form-post">
                <h1>Select Your Preferences</h1>
                <%= render 'new-booking-form', booking: @booking %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>




