<div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1559896276-8189f895c02e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  </div>

  <div class="booking-new">
    <div class="row" style="text-align: center;">
      <div class="header-text col-9" style="margin: 25px auto;">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
              <div class="form-post">
                <h1>Select Your Preferences</h1>
                <%= simple_form_for @booking do |f| %>

                <div class="form-group">
                <label class="control-label check_boxes optional">Venue Types</label>
                  <div class="category-choices">
                    <span class="venue_types_buttons">
                      <input type="checkbox" class="hidden" value="bar" name="booking[venue_types][]" id="booking_venue_types_bar">
                      <label class="category-choice" for="booking_venue_types_bar">Bar</label>
                    </span>

                    <span class="venue_types_buttons">
                      <input type="checkbox" class="hidden" value="restaurant" name="booking[venue_types][]" id="booking_venue_types_restaurant">
                      <label class="category-choice" for="booking_venue_types_restaurant">Restaurant</label>
                    </span>

                    <span class="venue_types_buttons">
                      <input type="checkbox" class="hidden" value="nightclub" name="booking[venue_types][]" id="booking_venue_types_nightclub">
                      <label class="category-choice" for="booking_venue_types_nightclub">Club</label>
                    </span>
                  </div>
                </div>


                <div class="row">
                  <div class="col-xs-3">
                    <button type="button" onclick="decreasePassengerAmount()" class="plus">-</button>
                  </div>
                  <div class="col-xs-6">
                    <%= f.input :passengers, classes: 'passenger-amount', label: 'Passengers Count', input_html: {value: '1', disabled: true} %>
                  </div>
                  <div class="col-xs-3">
                    <button type="button" onclick="increasePassengerAmount()" class="plus">+</button>
                  </div>
                </div>
                  <%= f.button :submit, "place your bets", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



