<head>
  <script src="https://code.jquery.com/jquery-1.9.1.min.js">
  </script>
</head>
<div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1559896276-8189f895c02e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  </div>

  <div class="booking-new">
    <div class="row" style="text-align: center;">
      <div class="header-text col-11" style="margin: 25px auto;">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
              <div class="form-post">
                <h1>Select Your Preferences</h1>
                <%= simple_form_for @booking do |f| %>

                <div class="form-group">
                  <input type="hidden" name="booking[venue_types][]" value="">
                  <div class="category-choices">
                    <span class="venue_types_buttons col-12">
                      <input type="hidden" class="hidden" value="bar" name="booking[venue_types][]" id="booking_venue_types_bar">
                      <label class="category-choice col-12" for="booking_venue_types_bar"><i class="fas fa-beer"> Bar</i></label>
                    </span>

                    <span class="venue_types_buttons col-12">
                      <input type="hidden" class="hidden" value="restaurant" name="booking[venue_types][]" id="booking_venue_types_restaurant">
                      <label class="category-choice col-12" for="booking_venue_types_restaurant"><i class="fas fa-utensils"> Restaurant</i></label>
                    </span>

                    <span class="venue_types_buttons col-12">
                      <input type="hidden" class="hidden" value="nightclub" name="booking[venue_types][]" id="booking_venue_types_nightclub">
                      <label class="category-choice col-12" for="booking_venue_types_nightclub"><i class="fas fa-cocktail"> Club</i></label>
                    </span>
                  </div>
                </div>







                <!-- THIS IS FOR PASSENGER AMOUNT IF IT EVER NEEDS TO BE ADDED BACK IN -->
                <!-- <div>
                  <p>Number of players</p>
                </div>
                <div class="row align-center">
                  <div class="col-xs-2">
                    <button type="button" onclick="decreasePassengerAmount()" class="plus">-</button>
                  </div>
                  <div class="col-xs-5" style="width: 30%;">
                    <%= f.input :passengers, classes: 'passenger-amount', label: false, input_html: {value: '1', disabled: true} %>
                  </div>
                  <div class="col-xs-2">
                    <button type="button" onclick="increasePassengerAmount()" class="plus">+</button>
                  </div> -->

                  <%= f.button :submit, "Place Bet", class: "btn" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




