<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<section class="hero">
   <h1>You're on your way to a great night, Ryan!</h1>
</section>
<section class="content">
   <section class="add-margin-bottom">
      <div class="container">
         <div class="row ct-section_header ct-section_header--type2">
<!--           <h1>Get ready for the time of your life.</h1>
 -->        <h2 class="col-6">9:00</h2>
            <p class="col-6">Estimated arrival</p>
            <div class="col-12ct-section_header-description">
            </div>
            <div class="clearfix">
               &nbsp;
            </div>
            <div class="ct-section_header-separator">
               &nbsp;
            </div>
         </div>
         <div class="row trip-details">
          <div class="venue-details col-9" style="background: url(bar1.jpg);">
            <h1> Cool facts: </h1>
            <p><li>The decor was inspired by Carmen Miranda's fabulous style </li></p>
            <p><li>It is well-known for its caipirinhas with a twist </li></p>
            <p><li> Grab a seat by the window for an impressive panoramic view </li></p></br>
            <div class=" star-rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <div class="pricing-details">
              <i class="fas fa-dollar-sign"></i>
              <i class="fas fa-dollar-sign"></i>
              <i class="fas fa-dollar-sign"></i>
              <div>

              </div>
            </div>
            <p class="hours">Open until 2:00 am</p>
          </div>

         </div>
         <div class="btn btn-primary share-button">Share with your friends</div>

      </div>
   </section>
</section>
