<h1>This is the landing page </h1>

<% @venues.each do |venue| %>
   <%= venue.picture %>
<p><%= venue.name %></p>
<p><%= venue.location %></p>
<% end %>


<h1>someshit</h1>
<%= @aphigh['results'][0]['name'] %>