<!DOCTYPE html>
<html>
<head>
  <title>Night Roulette</title>
  <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1556035511-3168381ea4d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);">
  </div>
  <div class="landing-page-content">
    <div class="row" style="text-align: center;">
      <div class="header-text col-9" style="margin: 25px auto;">
        <h1> Night Roulette </h1>
        <p class="headline load-hidden">
          Get ready for the best night of your life
        </p>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="cards">
        <% @venues.sample(12).each do |venue| %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= venue.picture %>);">
              <div class="pic_text"><%= venue.name %></div>
              <p> <%= venue.venue_type %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <script>
    ScrollReveal().reveal('.card', { delay: 300, reset: true});
    ScrollReveal().reveal('.headline load-hidden', {delay: 500});
  </script>
</body>
</html>


