@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 2.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: '\f005';
}

.rating > .half:before {
  content: '\f089';
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

// .rating > input:checked + label:hover, /* hover current star when changing rating */
// .rating > input:checked ~ label:hover,
// .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
// .rating > input:checked ~ label:hover ~ label {
//   color: #ffed85;
// }

#rating-modal {
  margin-top: 30vh;
}

#rating-modal .modal-content {
  width: 80%;
  margin: 0 auto;
  border-radius: 4px;
}

#rating-modal .modal-title {
  text-align: center;
}

#rating-modal .modal-footer {
  align-items: center;
  justify-content: center;
  border-top: 0;
}

#rating-modal .modal-body {
  display: flex;
  justify-content: center;
}

#rating-modal .btn {
  border-radius: 4px;
}
