.banner {
  background-position: center;
  background-size: cover ;
  padding: 110px 0px;

}

.booking-new {
  margin: 10px auto;
  color: white;
  .row {
    margin: 0;
  }
}

.header-text {
  padding: 20px auto;
}

// form
.form-post {
  background: black;
  margin-top: 25px;
  padding: 20px;

  border-radius: 4px;
  border: 1px solid grey;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1) h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 50%;
    padding: 10px;
    font-weight: bolder;
    color: white;
    border: 2px solid $lightgrey;
    border-radius: 4px;
  }
}

// Checkboxes design

.form-check {
  padding: 20px;
  border-radius: 4px;
  color: #b7b7b7;
  flex: 0 0 30%;
  text-align: center;
  border: 1px solid $lightgrey;
  margin: 8px;
  &:hover {
    opacity: 1;
    background-color: white;
    cursor: pointer;
    color: black;
  }
  &.active {
    background: white;
    color: black;
  }
}

// OLD FORM

.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-choice {
  background: black;
  padding: 20px;
  border-radius: 4px;
  color: #b7b7b7;
  flex: 0 0 30%;
  text-align: center;
  border: 2px solid $lightgrey;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
    background: white;
    color: black;
  }
}

.align-center {
  justify-content: space-around;
  align-items: baseline;
}

// STYLING FOR PASSENGER COUNT
.plus {
  background-color: transparent;
  border: 1px solid $lightgrey;
  color: $lightgrey;
  width: 60px;
  height: 60px;
  padding: 8px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.passengers-input .form-control {
  background-color: transparent;
  border: none;
  color: $lightgrey;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.booking_latitude,
.booking_longitude {
  display: none;
}
