.card_booking {
  border-radius: 4px;
  display: inline-block;
  height: 10em;
  margin: 7px;
  position: relative;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-position: center;
  background-size: cover;
}

.venue-name {
  padding: 16px;
}


