.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.booking-new{
  margin:10px auto;
  color:white;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
}

.header-text{
  padding: 20px auto;

}


.landing-page-card{
  background-color: #F1F2EF;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 33px;
  height: 257px;
  color: black;
  margin: 0 auto;
  text-align:left;
}

.landing-page-card-instruction .row{
  margin: 10px auto;
  text-align: left;
  padding: 20px;
}

.landing-page-card-instruction{
  padding: 10px;
}

.landing-page-card-instruction i{
  font-family: 'Montserrat', sans-serif;
  padding:2px;

}


// form
.form-post {
  background: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #666666;
    margin-bottom: 50px;
    margin-top: 0px;
  }
  .btn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
  }
}


// booking form

// .booking-form {
//   background-color: $mediumgrey;
//   color: black;
//   padding: 16px;
//   border-radius: 4px;
// }

// venue buttons

// .venue_types_buttons {
//   justify-content: space-between;

//   label {
//     padding: 4px;
//   }
// }

// plus minus passenger


// .container-passengers {
//   display: flex;
//   justify-content: center;
// }

// .plus-minus {
//   display: flex;

// }

// .stupid {
//   margin: 21px;
// }

// .form-control {
//   width: 35px;
// }

// .plus {
// border-radius: 50%;
// background-color: $red;
// // background-image: url("https://media.istockphoto.com/photos/red-poker-chip-picture-id185013532?k=6&m=185013532&s=612x612&w=0&h=5STKVnzZcIaeaztSAWAMQmaIZk9YeYxn900zB9KO2G0=");
// // background-position: cover;
// height: 60px;
// width: 60px;
// }




