.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.booking-new{
  margin:10px auto;
  color:white;
}

.header-text{
  padding: 20px auto;
}

.landing-page-card{
  background-color: #F1F2EF;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 33px;
  height: 257px;
  color: black;
  margin: 0 auto;
  text-align:left;
}

.landing-page-card-instruction .row{
  margin: 10px auto;
  text-align: left;
  padding: 20px;
}

.landing-page-card-instruction{
  padding: 10px;
}

.landing-page-card-instruction i{
  font-family: 'Montserrat', sans-serif;
  padding:2px;

}
// booking form

.booking-form {
  background-color: $mediumgrey;
  color: $black;
}

// wheel button

.wheel-btn {
  border: 1px, black, solid;
}

// venue buttons

.venue_types_buttons {
  justify-content: space-between;
}

// plus minus passenger


.container-passengers {
  display: flex;
  justify-content: center;
}

.plus-minus {
  display: flex;

}

.passenger-amount {
  margin: 100px;
}

.plus {
font-size: 60px;
}




