.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
  flex-direction: column;
}
.card {
  border-radius: 4px;
  display: inline-block;
  height: 10em;
  margin: 7px;
  position: relative;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-position: center;
  background-size: cover;
}

.content-flip {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

 .content-flip:hover {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front-flip, .back-flip {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.back-flip {
  background: white;
  color: black;
  transform: rotateY( 180deg );
}


@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.pic_text {
  margin-top: 30%;
  color: white;
  size: 12px;
  text-transform: uppercase;
}
.pic_text_2 {
  color: white;
  size: 6px;
}
