.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.landing-page-content{
  margin:10px auto;
  color:white;
}

.header-text{
  padding: 0px auto;
}

.landing-page-card-instruction .row{
  margin: 10px auto;
  text-align: left;
  padding: 20px;
}

.landing-page-card-instruction{
  padding: 10px;
}

.landing-page-card-instruction i{
  font-family: 'Montserrat', sans-serif;
  padding:2px;
}
