.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.landing-page-content{
  margin:10px auto;
  color:white;
}

.header-text{
  padding: 0px auto;
}

.header-text h1{
  font-family: $headers-font;
  font-weight: 600;
}
.header-text p{
  font-family: $body-font;
  font-weight: 300;
  opacity: .8;
}

.landing-page-card-instruction .row{
  margin: 10px auto;
  text-align: left;
  padding: 20px;
}

.landing-page-card-instruction{
  padding: 10px;
}

.landing-page-card-instruction i{
  font-family: 'Montserrat', sans-serif;
  padding:4px;
}
.landing-page-card-instruction a{
  margin: 10px auto;

}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
  border: 1px solid #fff;
  opacity: .8;
}

.btn-gradient:hover {
  color: white;
  opacity:1;
}
