
.progress-bar {
  height: 2px;
  width: 200px;
  background: lightgray;
}

.loaded-order-confirmed {
  height: 100%;
  background: #444;
  width: 33%;
  animation: 2.5s linear progressAnimation;
  transform-origin: 0%;
}

@keyframes progressAnimation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}

.loaded-driver-confirmed {
  height: 100%;
  background: #444;
  width: 66%;
  animation: 2.5s linear progressAnimationTwo;
  transform-origin: 0%;
}

@keyframes progressAnimationTwo {
  0% {
    transform: scaleX(0.49);
  }
  100% {
    transform: scaleX(100%);
  }
}

.loaded-pick-confirmed {
  height: 100%;
  background: #444;
  width: 100%;
  animation: 2.5s linear progressAnimationThree;
  transform-origin: 0%;
}

@keyframes progressAnimationThree {
  0% {
    transform: scaleX(0.66);
  }
  100% {
    transform: scaleX(100%);
  }
}
