.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  background-color: $black;
  z-index: 19;
  display: flex;
  align-items: baseline;
  .left-text p {
    margin: 0;
  }
}

.btn-bottom-bar {
  margin: 0 auto;
  left: 50%;
  z-index: 20;
}

.form-post {
  margin-bottom: 100px;
}

#btn-location {
  padding: 30px;
  font-weight: bolder;
  color: white;
  border: 2px solid $lightgrey;
  border-radius: 4px;
  margin: 40px auto 60px;
}

#geo-btn {
  color: $darkgrey;
  padding: 30px;
  font-weight: bolder;
  border: 2px solid $lightgrey;
  border-radius: 4px;
  margin: 40px auto 60px;
}

#location-modal {
  .modal-content {
    height: 90vh;
  }
}

#pending {
  position: fixed;
  top: 0;
  .map-pending {
  }

  .row-pending {
  }

  .container-pending {
  }
}
